# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.pyc
.DS_Store

# JetBrains
.idea/
!*.iml
.idea/modules.xml
.idea/codeStyles/
.idea/inspectionProfiles/

# Logs & Outputs
logs/
output/
*.log

# Models & Data (if not versioned intentionally)
models/*
data/*